/*Image variables */
@import '../partials/color-style.scss';

#css-zen-garden::before {
  content: url('../src/assets/images/zen_garden_svg_banner_aimee.svg');
  z-index: 105;
  position: fixed;
  top: 0;
  left: 0;
  background: 0;
  width: 100%;
}


@media only screen and (max-width:420px) {

.body {
  width: 70%;
  background-color: black;
}

.page-wrapper {
display: grid;
  background-image: url("../src/assets/images/clouds_small.jpg");
    /* Used if the image is unavailable */
    background-color: $color-2;
    width:100%;
    // background-position: center; /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
}
}

@media only screen and (min-width:421px){

  .page-wrapper {
  display: grid;
  background-image: url("../src/assets/images/clouds_large3.jpg");
    /* Used if the image is unavailable */
    background-color: $color-2;
    // background-position: center; /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
  }

}
