@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  width: 768px;
  height: 1075.2px;
  margin: 20px;
}

.intro {
  display: grid;
  grid-template-columns: repeat(3, 256px);
  grid-template-rows: repeat(14, 76.8px);
  justify-items: start;
  align-items: start;
}
.intro .summary {
  grid-column: 2/4;
  grid-row: 2/3;
}

/* color palette - these colors will be the color swatches of the Colors section */
/*/ Blue Pantone 294*/
/*/ Dark Grey*/
/*/ Off-white*/
/*/ Black accent*/
/*/ accent green*/
/* Light Blue Pantone 299 */
/* Light red Pantone 179 */
* a {
  color: #43802a;
}
* a:hover {
  color: #003478;
  text-shadow: 2px 2px 5px #f7f7f7;
}
* a:visited {
  color: #000000;
}

p {
  color: #f7f7f7;
}
p a:hover {
  color: #00a3e0;
}

body {
  background-color: #414042;
}

h1,
h2,
h3 {
  color: #43802a;
}

h3 {
  background-color: #000000;
}

/*Image variables */
.cd-box {
  /* this is the container of various design elements - i.e. the 2 logo of the branding section */
  border: 1px solid #003478;
  border-radius: 3px;
  background: #000000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 6px;
}

/* aeronautics graphics/icons*/
/*fighterplane */
/*/ fighter jet */
/*/ helicopter*/
/*/ missile */
/*/ space shuttle */
/* test */
/* CSS class name icon */
#icons.cd-icons .cd-icon-1 {
  background-image: url("../../src/assets/icons/icons8-fighter50.png");
}
#icons.cd-icons .cd-icon-2 {
  background-image: url("../../src/assets/icons/icons8-fighter-jet50.png");
}
#icons.cd-icons .cd-icon-3 {
  background-image: url("../../src/assets/icons/icons8-helicopter.png");
}
#icons.cd-icons .cd-icon-4 {
  background-image: url("../../src/assets/icons/icons8-missile.png");
}
#icons.cd-icons .cd-icon-5 {
  background-image: url("../../src/assets/icons/icons8-space-shuttle.png");
}

.fa-fighter-jet:before {
  content: "";
}

.cd-icons li {
  /* icons size */
  height: 80px;
  width: 80px;
  color: #414042;
}

/* color palette - these colors will be the color swatches of the Colors section */
/*/ Blue Pantone 294*/
/*/ Dark Grey*/
/*/ Off-white*/
/*/ Black accent*/
/*/ accent green*/
/* Light Blue Pantone 299 */
/* Light red Pantone 179 */
* a {
  color: #43802a;
}
* a:hover {
  color: #003478;
  text-shadow: 2px 2px 5px #f7f7f7;
}
* a:visited {
  color: #000000;
}

p {
  color: #f7f7f7;
}
p a:hover {
  color: #00a3e0;
}

body {
  background-color: #414042;
}

h1,
h2,
h3 {
  color: #43802a;
}

h3 {
  background-color: #000000;
}

body .sidebar {
  /* main navigation background color - full screen on small devices */
  background-color: #414042;
}
body .sidebar li a {
  border-color: #4e4d4f;
  font-weight: bold;
  padding: 2px;
}
@media only screen and (min-width: 1024px) {
  body .sidebar li a {
    color: #a7a6a8;
  }
  body .sidebar li a.selected {
    color: #43802a;
    box-shadow: 0 2px 0 #003478;
  }
  body .sidebar li a:hover {
    color: #43802a;
  }
}

.design-archives span {
  /* hamburger menu */
  background-color: #43802a;
}
.design-archives span::before, .design-archives span::after {
  /* upper and lower lines */
  background-color: #43802a;
}

.nav-is-visible .cd-nav-trigger span {
  /* hide line in the center on mobile when nav is visible */
  background-color: rgba(67, 128, 42, 0);
}
.nav-is-visible .cd-nav-trigger span::before, .nav-is-visible .cd-nav-trigger span::after {
  /* preserve visibility of upper and lower lines - close icon */
  background-color: #43802a;
}

/* --------------------------------

_Typography

-------------------------------- */
@font-face {
  font-family: Roboto, Proza Libre;
  src: url("https://fonts.googleapis.com/css?family=Proza+Libre|Roboto&display=swap") format("Roboto, Proza Libre");
}
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 0.875em;
}

p {
  font-family: "Proza Libre", sans-serif;
}
p a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
