// add partials here as needed try to keep other code out if possible JH
@import 'partials/prefix-mixins';
@import 'partials/layout';
@import 'partials/color-style.scss';
@import 'partials/image-style';
@import 'partials/icons';
@import 'partials/nav-style';
@import 'partials/typography';

html {
    
}
body#css-zen-garden {
    display: grid;
   grid-template-columns: repeat(6, 12.92%);
   grid-template-rows: repeat(48, 1fr);
   grid-column-gap: repeat(5, .025%);
   height: 100%;
   width: 100%;
    margin: 0;
 	padding: 0;
 	}